@font-face {
  font-family: "LGEITextTTF";
  font-weight: normal;
  src: url("./fonts/LGEITextTTF-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: LGEITextTTF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
} /* 스크롤바 스타일 */
textarea::-webkit-scrollbar {
  display: none;
}
code {
  font-family: LGEITextTTF, monospace;
}
